<div class="row">
    <div class="col-md-8.col-md-offset-2">
        <div class="media">
            <div class="media-body">
                <div class="page-header">
                    <h1 class="text-center"><%= current_user.username.capitalize! %>'s <small>Apps being tracked:</small></h1><br />
                </div>
            </div>
        </div>
    </div>
</div>