<div class="page-header">
  <h1>Blocmetrics<small> an analytics service to track events on websites.</small></h1>
</div>
<div class="well well-sm">Created as a portfolio-project by Bloc-Student: Josh Van Wyk and Bloc-Mentor: Mark Carpenter.</div>
