<br>
<div class="jumbotron">
    <h1>Blocmetrics</br><small>You may already know of a good analytic service...</br>but this is a better one.</small></h1>

    </br>
    <p>
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>
